<nav class="nav_one">
    <p class="admin">Admin Login</p>
    <div class="links">
        <a href="/api/users/createui">Crear</a>
        <a href="/api/users/allusers">Usuarios</a>
        <a href="/api/invitation/music/addui">Musica</a>
         <a href="/api/users/guide">Guia</a>        
    </div>
</nav>
<nav class="nav_two">
    <p class="admin_two">Admin Login</p>
     <div class="links_two">
        <a href="/api/users/createui">Crear</a>
        <a href="/api/users/allusers">Usuarios</a>
        <a href="/api/invitation/music/addui">Musica</a>
        <a href="/api/users/guide">Guia</a>
    </div>
     <img onclick="nav_appear()" class="barras" src="https://firebasestorage.googleapis.com/v0/b/planticommerce.appspot.com/o/invitations%2F3_barras.png?alt=media&token=1d4c9ac0-48e7-4933-a267-dca272e7d71f">
</nav>
<div class="contenedor">
  {{#each users}}
    <div class="user">
        <p> id: {{ _id }}</p>
        <p>Usuario: {{ user }}</p>
        <p>Email: {{ email }}</p>
        <p>Fecha: {{ date }}</p>
        <p>Modelo: {{ model }}</p>
        <p>Precio: ${{ price }}</p>
        <button onclick="deleteUser('{{_id}}')" id={{ _id }}>Eliminar</button>
    </div>
  {{/each}}

</div>

<script>
    async function deleteUser( id ){
        const verify = prompt("seguro que quieres eliminar este usuario? \n1.si \n2.no")
        if( verify === "1" ){
         const request = await fetch(`/api/users/deleteUser/${ id }`,{
            method : "DELETE",
            credentials : "same-origin"
         })
        if( request.ok ){
          location.reload();
        }
        else{
         alert("No es posible eliminar este usuario")
        }
       }
       else{
        console.log("Usuario no eliminado")
       }
    }

  function nav_appear(){
    const nav = document.getElementsByClassName("links_two")[0]
    if( nav.style.display === "none" ){
      nav.style.display = "flex"
    }
    else{
      nav.style.display = "none"
    }
  }

</script>

<style>
     .nav_two{
    display: none;
  }
  .barras{
    display: none;
  }
  @media screen and ( max-width : 750px ){
    .nav_one{
      display: none !important;
    }
    .barras{
      display: inline;
      width: 30px;
      margin-top: 20px;
      height: 30px;
      filter: brightness(200);
      margin-right: 20px;
}
    .nav_two{
      display: flex;
      background-color: rgb(127, 167, 133);
      height: 70px;
      width: 100%;
      justify-content: space-between;
    }

    .admin_two{
        margin: 0;
        font-size: 25px;
        padding-top: 20px;
        color: #f4f4f4;
        padding-left: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .links_two{
     width: 150px;
     display: none;
     background-color: #f4f4f4;
     flex-direction: column;
     gap: 15px;
     justify-content: center;
     align-items: center;
     height: 250px;
     margin-left: 15%;
     } 
     .links_two a{
      text-decoration: none;
      font-size: 20px;
      background-color: #f4f4f4;
      padding: 10px;
      color: rgb(40, 96, 48);
      border-radius: 20px;
 
     }
     .links_two a:hover{
      background-color: rgb(127, 167, 133);
      color: #ffffff;
     }
  }
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: -5;
}

.links{
width: 150px;
display: flex;
gap: 15px;
justify-content: center;
align-items: center;
height: 100%;
position: relative;
margin-left: 15%;
}
.links a{
 text-decoration: none;
 font-size: 20px;
 background-color: #f4f4f4;
 padding: 10px;
 color: rgb(40, 96, 48);
 border-radius: 20px;
 
}

button{
    width: 100px;
    background-color: rgb(233, 59, 59);
    border: 0px;
    height: 30px;
    color: #f4f4f4;
}

.contenedor{
    overflow: auto;
    height: 800px;
    width: 100%;
    position: relative;
    z-index: -1;

    
}

.user{
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
}

 body{
    margin:0;
  }
  nav{
        background-color: rgb(127, 167, 133);
        height: 70px;
        width: 100%;
        display: flex;
        
    }

    .admin{
        margin: 0;
        font-size: 25px;
        padding-top: 20px;
        color: #f4f4f4;
        padding-left: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

</style>